* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --border-color: #aaaaaa;
}

body {
  font-family: sans-serif;
  color: #333;
  /* position: relative; */
  line-height: 1.4;
}

/* Banner */
#banner {
  /* background-color: red; */
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  height: 50vh;
  position: relative;
  color: var(--light-color);
}

#banner .banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Nav bar */
#nav-bar {
  height: 40px;
}

#nav-bar ul {
  height: 100%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

#nav-bar li {
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px solid var(--border-color);
  padding: 10px 20px;
}

#nav-bar li:first-child {
  border-left: 1px solid var(--border-color);
}

#nav-bar a:hover {
  color: var(--primary-color);
}

#avatar {
  overflow: visible;
  z-index: 100;
}

#avatar img {
  width: 15vw;
  max-width: 200px;
  transform: translate(0, -50%);
  border-radius: 100%;
  border: 10px solid #fff;
}
/* About */
#target,
#personal-info {
  padding: 50px;
  width: 50%;
}

.section-title {
  margin: 20px 0;
}

#about span {
  font-weight: bold;
}

#about .contacts-list {
  display: flex;
  gap: 10px;
}

#about .contacts-list a {
  font-size: 20px;
  color: var(--primary-color);
}

#about .contacts-list a:hover {
  color: var(--secondary-color);
}

/* job-info */
#job-info .card {
  border: 1px solid #aaa;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: start;
}

.hidden-view-button {
  padding: 0 2rem;
  text-align: center;
}

.hidden-view-button p {
  background-color: var(--error-color);
  border-radius: 25px;
}

.card .card-title {
  align-self: center;
  padding: 1rem 0rem 1rem 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

.card .card-icon {
  font-size: 35px;
  align-self: center;
}

.card .card-details {
  grid-column: 1 / span 2;
  padding: 1rem 1rem 1rem 2rem;
}

.content-title {
  font-weight: bold;
}

.content-time {
  font-style: italic;
}

.level-primary {
  background: var(--primary-color);
  display: inline-block;
  height: 5px;
  margin-right: 10px;
  width: 45px;
}

.level-grey {
  background: var(--border-color);
  display: inline-block;
  height: 5px;
  margin-right: 10px;
  width: 45px;
}

.hobby ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  /* gap: 10px; */
}

.hobby li i {
  display: block;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

/* Certificates */
#certificate .cert-img {
  max-width: 40%;
}
/* Project */
#project .project-item {
  border: 1px solid var(--border-color);
}

#project .project-name {
  border-bottom: 1px solid var(--border-color);
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

#project .project-name a:hover {
  color: var(--primary-color);
  font-size: 1.2rem;
}

#project .project-info {
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
  display: flex;
  gap: 10px;
}

.project-info-time {
  background-color: var(--primary-color);
  padding: 5px 15px;
  border-radius: 500px;
  align-self: flex-start;
}

.project-info-school {
  padding: 5px 0;
}

.project-info-position {
  padding: 5px 0;
}

#project td {
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}

#project tr:last-child {
  border-bottom: none;
}
#project table {
  border-collapse: collapse;
}

#project img {
  width: 100%;
}

/* footer */
#footer ul {
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}
#footer li {
  display: inline-block;
  padding: 0 10px;
}

#footer a:hover {
  color: var(--primary-color);
}

/* Utilities */
h1,
h2,
h3,
p {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.ul-type-disc {
  list-style: none;
  list-style-position: outside;
}

.ul-type-disc li {
  padding-bottom: 1rem;
}

.ul-type-disc li::before {
  content: "\2022";
  color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.4em;
}

.bg-grey {
  background: #f7f7f7;
}

.bg-grey2 {
  background: #f0f0f0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
